atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
edinet-xbrl==0.2.0
idna==2.7
lxml==4.2.5
marshmallow==2.16.0
more-itertools==4.3.0
numpy==1.22.0
ordereddict==1.1
pandas==0.23.4
pep8==1.7.1
pluggy==0.7.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
py==1.6.0
pytest==3.8.2
python-dateutil==2.7.3
python-dotenv==0.9.1
python-xbrl==1.1.1
pytz==2018.5
requests==2.19.1
selenium==3.14.1
six==1.11.0
tornado==5.1.1
urllib3==1.23
