<html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ static_url('style.css') }}" />
  <script src="{{ static_url('app.js') }}" ></script>

  <body>
      <div id="app" class="container">
        <form action="/" method="get">
            <input name="query" type="text" placeholder="" value="{{query}}" id="query">
            <button type="submit">検索</button>
        </form>
 	      <div>
            {% if query != "" %}
              <span id="count">{{ count }}</span> 件見つかりました
            {% end %}
            {% if count > 0 %}
              <div>{{int(offset)+1}} ~ {{int(offset) + len(data)}} 件を表示しています</div>
            {% end %}
        </div>
        {% for d in data %}
          <div>
            <div class="item-header">{{ d["publisher"] }} {{ d["term"] }} ({{ d["term_from"] }} ~ {{ d["term_to"] }})</div>
            <div class="content border border-dark rounded ">{{ d["value"] }}</div>
          </div>
        {% end %}

        <div class="text-center mx-auto">
          <ul class="pagination">
            {% for i in range(0, count, 10) %}
              <li class="page-item">
                {% if i == int(offset) %}
                  <a class="page-link">{{ int((i/10) + 1) }}</a>
                {% else %}
                  <a class="page-link" href="/?query={{query}}&offset={{i}}">{{ int((i/10) + 1) }}</a>
                {% end %}
              </li>
            {% end %}
          </ul>
        </div>
      </div>

   </body>
</html>
